<!DOCTYPE html>
<html ng-app="SafeBrowsingPopup">
<head>
    <meta charset="utf-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/popup.css" rel="stylesheet" />
    <title></title>
</head>
<body class="bg-light">

    <main role="main" ng-init="init()" ng-controller="PopupCtrl as popup">
        <div class="d-flex align-items-center top">

            <img ng-show="protect==true" class="mr-3" src="icon/icon_safe_48.png" alt="" width="42" height="42">
            <img ng-show="protect==false" class="mr-3" src="icon/icon_unsafe_48.png" alt="" width="42" height="42">

            <div class="lh-100">
                <h6 class="mb-0 lh-100">PPSB</h6>
                <small>V1.6</small>
            </div>
        </div>


        <div class="bg-white rounded box-shadow">
            <h6 class="blocktitle">Recent blocks</h6>

            <div ng-repeat="item in items" class="urlrecord media text-muted">
                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1627bba7d7c%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1627bba7d7c%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.703125%22%20y%3D%2216.9984375%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                <p class="urlitem media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@{{item.url}}</strong>
                    This website is detected as a {{item.type?item.type:"malicious"}} webpage, the resource comes from {{item.source}}.
                </p>
            </div>

            <small class="d-block text-left showmore">

                <span class="showmoreleft">
                    <a ng-click="feedback()" href="#">Feedback</a>
                </span>


                <span class="showmoreright">
                    <a ng-click="clear()" href="#">Clear History</a>
                    <a ng-click="stop()" ng-show="protect==true" href="#">Stop Protect</a>
                    <a ng-click="start()" ng-show="protect==false" href="#">Start Protect</a>
                </span>




            </small>
        </div>
    </main>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/popup.js"></script>
</body>
</html>