<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SafeBrowsing | Content Provider Service</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


	<div class="middle-box text-center loginscreen animated fadeInDown loginContainer">
		<div>
			<div>

				<h1 class="logo-name">PPSB</h1>

			</div>
			<h3>A Platform for Privacy-Preserving Safe Browsing</h3>
			<p>Please fill the following information for system setup</p>
			<form class="m-t m-inputform" role="form" method="POST" action="install">
				<div class="form-group">
					<input type="text" name="user" class="form-control" placeholder="Admin Username" required="">
				</div>
				<div class="form-group">
					<input type="password" name="pwd" class="form-control" placeholder="Admin Password" required="">
				</div>
				<div class="form-group">
					<input type="text" name="source" class="form-control" placeholder="Source Name" required="">
				</div>
				<div class="form-group">
					<input type="password" name="key" class="form-control" placeholder="Master Key" required="">
				</div>
				
				<button type="submit" class="btn btn-primary block full-width m-b">Install</button>

			</form>
			<p class="m-t"> <small>PPSB for Content Provider &copy; 2018</small> </p>
		</div>
	</div>

    <!-- Mainly scripts -->
    <script src="js/jquery/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

</body>

</html>
